.checkoutProduct{
    background:#f3f3f3;
    display: flex;
    margin: 20px;
    margin-bottom:20px;
    border: 1px solid lightgray;
  
}
.checkoutProduct__info{
    padding-left:20px;

}
.checkoutProduct__info>button{
    background: #f0c14b;
    border: 1px solid;
    margin-top:10px;
    border-color: #a88735,#9c7e31,#846a29;
    color: #111111;

}
.checkoutProduct__image{
    object-fit: contain;
    width: 150px;
    height: 150px;

}
.checkoutProduct__rating{
    display: flex;
}
.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}
.checkoutProduct:hover{
    transform: scale(1.03);
}